{% extends "base.html" %}
{% block title %}HTML Visualization{% endblock %}
{% block body %}
    <center>
    <div id="buttons">
        <button id="addButton" type="button" class="btn btn-outline-secondary button" onclick="addButton();">Add Button</button>
        <button id="editButton" type="button" class="btn btn-outline-secondary button" onclick="editText();">Edit Text</button>
        <button id="insertText" type="button" class="btn btn-outline-secondary button" onclick="insertText();">Insert Text</button>
        <button id="insertNewLine" type="button" class="btn btn-outline-secondary button" onclick="insertNewLine();">Insert New Line</button>
        <button id="onClick" type="button" class="btn btn-outline-secondary button" onclick="onClick();">On Click</button>
        <button id="custom" type="button" class="btn btn-outline-secondary button" onclick="custom();">Custom</button>
        <button id="remove" type="button" class="btn btn-outline-secondary button" onclick="remove();">Remove</button>
        <button id="clear" type="button" class="btn btn-outline-secondary button" onclick="document.getElementById('canvas').innerHTML='';">Clear</button>
        <button id="download" type="button" class="btn btn-outline-secondary button" onclick="download();">Download</button>
    </div>
    <div id="canvas"></div>
    <script src="{{url_for('static', filename='js/html.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='css/html.css')}}">
{% endblock %}
