body {
    background-image: url(../images/background.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    color: white;
}
h1, a, nav {
    opacity: 0.6;
}
.a {
    color: white;
    text-decoration: none;
    margin-right: 2vw;
}
.a:hover {
    color: lightgray;
    text-decoration: none;
}
.aa {
    color: white;
    text-decoration: none;
    opacity: 1;
}
.aa:hover {
    color: lightgray;
    text-decoration: none;
}
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color:rgb(141, 138, 138) !important;
    border-color:rgb(110, 107, 107) !important;
}
.b {
    color: gray;
    border-color:gray;
}
.b:hover {
    color: whitesmoke;
}
.muted {
    color: gray;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px black;
    border-radius: 15px;
}
::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background-color: lightgrey;
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(200, 200, 200);
}
#desktop {
    display: block;
}
#mobile {
    display: none;
}
@media screen and (max-width: 768px) {
    #desktop {
        display: none;
    }
    #mobile {
        font-size: 200%;
        font-weight: 900;
        display: block;
        color: white;
        text-align: center;
        margin-top: 25vh;
        margin-bottom: 75vh;
    }
}
