#output {
    font-size: 1.2em;
    margin-right: 5vw;
    width: 40%;
    background-color: rgb(30, 30, 30);
    border-radius: 20px;
    opacity: 0.8;
    color: white;
    float: right;
    font-family: monospace;
    max-height: 70vh;
}
h1 {
    color: white;
}
.muted {
    font-size: large;
    margin-bottom: 1vh;
}
textarea {
    margin-left: 5vw;
    font-size: 1.2em !important;
    width: 40% !important;
    float: left;
    border-radius: 20px !important;
    font-family: monospace;
    height: 70vh;
}
#bottom {
    position: fixed;
    bottom: 0;
    margin-bottom: 3%;
    width: 100%;
}
