.button {
    font-size: 3vh;
    margin: 1vh;
}
#addButton, #editButton, #insertText, #insertNewLine, #onClick, #custom, #remove, #clear, #download {
    margin-bottom: 5vh;
}
textarea.form-control {
    width: 60vw !important;
    height: 50vh !important;
}
#buttons {
    position: fixed;
    bottom: 0;
    width: 100%;
}
#canvas {
    margin-top: 4vh;
    background-color: white;
    width: 90vw;
    height: 75vh;
    border-radius: 20px;
}
