.scroll-container {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

.child {
    scroll-snap-align: center;
}

.console-container {
    font-size:7vh;
    text-align:center;
    height:20vh;
    width:60vw;
    display:block;
    color:white;
    margin: auto;
}

.console-underscore {
    display: inline-block;
    position: relative;
    top: -1vh;
    font-weight: bolder;
}

#getStarted {
    margin-top: 5vh;
}

#bold {
    font-weight: bolder;
    margin-top: 15vh;
    margin-bottom: 35.5vh;
}

.btn {
    font-size: 3vh;
}

#items {
    background-color: rgb(30, 30, 30);
    border-radius: 25px;
    opacity: 0.8;
    padding: 1.5vh 1vw 1.5vh 1vw;
    scroll-snap-align: start;
    font-size: 3vh;
}

.a1 {
    margin-left: 5vw;
}

.muted {
    float: right;
    margin-right: 5vw;
}

#toTop {
    margin-top: 7vh;
}

@media screen and (device-aspect-ratio: 16/10) {
    #toTop {
        margin-bottom: 11.1vh;
    }
    #items {
        margin: 20vmax 8vw 0 8vw;
    }
}

@media screen and (device-aspect-ratio: 16/9) {
    #toTop {
        margin-bottom: 8.7vh;
    }
    #items {
        margin: 20vmax 8vw -3vh 8vw;
    }
}

#text {
    color: whitesmoke;
}
