h1 {
    color: white;
}
.btn {
    margin: 1vh;
    font-size: 3vh;
}
#container {
    position: relative;
    height: 65vh;
    width: 65vw;
}
#buttons {
    position: fixed;
    bottom: 7vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}
