{% extends "base.html" %}
{% block title %}Math Visualization and Calculator{% endblock %}
{% block body %}
    <br>
    <script src="https://unpkg.com/mathjs@9.2.0/lib/browser/math.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js"></script>
    <center>
        <h1>
            Math Visualization and Calculator
        </h1>
        <h3 id="exp">Expression</h3>
        <div class="input-group mb-3" id="expr-div">
            <input type="text" id="expr" class="form-control" aria-label="Math Expression" placeholder="Math Expression">
            <button class="btn btn-outline-secondary b" type="button" id="button-addon2" onclick="document.getElementById('expr').value = '';">Clear</button>
        </div>
        <h3 id="re">Result</h3>
        <strong>
            <span class="span" id="pretty"></span>
            <span class="span" id="eq"> = </span>
            <span class="span" id="result"></span>
        </strong>
    <script src="{{url_for('static', filename='js/math.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='css/math.css')}}">
{% endblock %}
