{% extends "base.html" %}
{% block title %}Size of the Planets{% endblock %}
{% block body %}
    <br>
    <center>
        <h1>Size of Planets Visualization</h1>
        <video playsinline autoplay muted loop>
            <source src="https://firebasestorage.googleapis.com/v0/b/basic-social-network-71deb.appspot.com/o/video.mp4?alt=media&token=c89c513f-6893-482d-b0fa-ffa379e7c089" type="video/mp4">
            Your browser does not support the video tag.
        </video><br>
        <a href="https://www.youtube.com/watch?v=i93Z7zljQ7I" class="a" target="_blank">Source: https://www.youtube.com/watch?v=i93Z7zljQ7I</a>
    </center>
    <link rel="stylesheet" href="{{url_for('static', filename='css/size.css')}}">
{% endblock %}
