{% extends "base.html" %}
{% block title %}Sorting Algorithms Visualization{% endblock %}
{% block body %}
    <br>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <h1>
        <center>Sorting Algorithms Visualization</center>
    </h1>
    <center>
    <span class="muted">Warning: Sorting may not work on a slow PC</span>
    <div id="container" class="chart-container">
        <canvas id="chart"></canvas>
    </div>
    <div id="buttons">
        <button type="button" class="btn btn-outline-secondary" onclick="shuffle();">Shuffle</button>
        <button id="bubble" type="button" class="btn btn-outline-secondary" onclick="bubbleSort();">Bubble Sort</button>
        <button id="selection" type="button" class="btn btn-outline-secondary" onclick="selectionSort();">Selection Sort</button>
        <button id="insertion" type="button" class="btn btn-outline-secondary" onclick="insertionSort();">Insertion Sort</button>
    </div>
    <script src="{{url_for('static', filename='js/sorting.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='css/sorting.css')}}">
{% endblock %}
